src/flows/Find_Best_Matched_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Did_we_find_a_match</name>
        <label>Did we find a match</label>
        <locationX>97</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found_a_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBestMatchedAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_best_matched_account_on_lead</targetReference>
            </connector>
            <label>Found a match</label>
        </rules>
    </decisions>
    <description>Matches leads to an account based on the email address and website domains of each record.</description>
    <interviewLabel>Find Best Matched Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Best Matched Account</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_account_with_matching_company_domain</name>
        <label>Find account with matching company domain</label>
        <locationX>101</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_a_match</targetReference>
        </connector>
        <filters>
            <field>Company_Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailDomain</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varBestMatchedAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_best_matched_account_on_lead</name>
        <label>Update best matched account on lead</label>
        <locationX>96</locationX>
        <locationY>328</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Best_Matched_Account__c</field>
            <value>
                <elementReference>varBestMatchedAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Find_account_with_matching_company_domain</startElementReference>
    <status>Active</status>
    <variables>
        <name>varBestMatchedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailDomain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
